@layer utilities {
  .text-shadow-none {
    text-shadow: none;
  }

  .text-shadow-button-3 {
    text-shadow: 0px 0px 2px #46ffe6;
  }

  .text-shadow-heading-1 {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25), 0px 2px 35px #46ffe6; /* Neon Cyan Heading 1 66px */
  }
  .text-shadow-heading-2 {
    text-shadow: 0px 0px 8px #46FFE6, 0px 2px 2px rgba(0, 0, 0, 0.25); /* Neon Cyan Heading 2 56px */
  }
  .text-shadow-heading-2-purple {
    text-shadow: 0px -6px 18px #bda6ff, 0px 2px 4px rgba(0, 0, 0, 0.25); /* Neon Purple Heading 2 56px */
  }
  .text-shadow-heading-3 {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25), 0px 2px 35px #46ffe6; /* Neon Cyan Heading 3 40px */
  }
  .text-shadow-heading-4 {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 0px 6px #46ffe6; /* Neon Cyan Heading 4 30px */
  }
  .text-shadow-heading-4-purple {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 0px 10px #fb46ff; /* Neon Purple Heading 4 30px */
  }
  .text-shadow-heading-5 {
    text-shadow: 0px 1px 8px rgba(49, 82, 255, 0.8), 0px 4px 4px rgba(0, 0, 0, 0.25); /* Neon Cyan Heading 5 24px */
  }
  .text-shadow-heading-6 {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25), 0px 2px 35px #46ffe6; /* Neon Cyan Heading 6 20px */
  }

  .text-shadow-subtitle-1 {
    text-shadow: 0px 1.2px 0.86px rgba(0, 0, 0, 0.25), 0px 0.6px 10px #46ffe6;
  }
  .text-shadow-subtitle-2 {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  .text-shadow-subtitle-3 {
    text-shadow: 0px 1.2px 0.86px rgba(0, 0, 0, 0.25), 0px 0.6px 10px #46ffe6;
  }

  .text-shadow-iff-cube {
    text-shadow: 0 0 10px #468ff6, 0 0 5px #ac53cf, 0 0 5px #28d7bf,
      0 0 5px #4579ff;
  }

  .text-shadow-modal {
    text-shadow: 0px 0px 5px #46FFE6;
  }
}
