@layer base {
  :root {
    --iff-cube-size: 148.8px; /* 48px * 3.1 */
  }

  html {
    font-family: 'Exo 2', Roboto, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
  }

  body {
    @apply bg-[#04336e] bg-cover bg-center bg-no-repeat bg-fixed;
    background-image: url('/img/bg@2x.png');
    background-image: image-set(
      url('/img/bg@1x.png') 1x,
      url('/img/bg@2x.png') 2x,
      url('/img/bg@3x.png') 3x,
      url('/img/bg@4x.png') 4x
    );
  }
}
